body{
	text-align:center;
}
#banner{
	width:980px;
	height:100px;
	background-image: url(../images/redNav.png);
	position:absolute;
	margin:-72px 0 0 270px;
	
}
/*第二导航栏*/
#nav2
{
    width: 300px;
    /*background-image: url(../images/redNav.png);*/
    position: absolute;
	margin:20px 0 0 -10px;

}
#nav2 ul
{
    margin: 0px 0 0 -39px;
    position: relative;
    list-style: none;
}
#nav2 ul li
{
    padding-bottom: 5px;
    text-align: left;
	position: relative;
}
#nav2 ul li a:link, #nav2 ul li a:visited
{
    color: black; /*注意修改成黑橡*/
    font-family: Consolas;
    font-size: 18px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    blr:expression(this.onFocus=this.blur());
}
#nav2 ul li a:hover
{
    color: #b84a37;
    text-decoration: none;
}
#nav2 ul li a:active
{
    color: yellow;
}
#nav2 ul li a.selected
{
    color: blue;
}
#nav2 .rem
{
    margin: 200px 0 0 50px;
}
#nav2 .add
{
    margin: -20px 0 5px 50px;
}
#nav2 .ren
{
    margin: -20px 0 5px 50px;
}
#nav2 .two
{
    list-style: none;
    margin:10px 0 0 -15px;
	display:none;
}
#nav2 ul li label.year
{
    padding:3px 70px 3px 70px;
    text-align:center;
    font-size:20px;
	position:relative;
}






.title
{
    font-size: 48px;
    font-family: Consolas;
    color: black; /*注意修改成黑橡*/
    margin: 50px 0 0 20px;
    position: inherit;
    padding-top: 50px;
}
.date
{
    font-size: 24px;
    font-family: Consolas;
    color: #787d7b;
    margin: 20px 0 0 52px;
}
.descrip
{
    width: 363px;
    height: 388px;
    font-size: 20px; /*知道行间距怎么改后注意修改字体大小为30*/
    font-family: Consolas;
    color: #3a3226;
    margin: 60px 0 0 52px;
}
.show
{
    width: 100%;
    height: 388px;
    border-top: 3px solid black; /*注意修改成黑橡*/
    border-bottom: 3px solid black; /*注意修改成黑橡*/
    margin-top: 30px;
}
