
.hide{
    display: none;
}

.aboutme{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: block;

    text-align: center;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    
    background-color: #0e90d2;
    color: #fff;
}

.sliderwrap{
    max-width: 700px;
   /* margin-top: 2%;*/
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 382px;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.sliderwrap>div{
    width: 350px;
    height: 382px;
    position: absolute;
    top: 0%;
    background-position: center;
    background-size: cover;
}

.sliderwrap>div:nth-child(1){
    left: 0%;
    -webkit-animation: sliderone 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: sliderone 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(2){
    left: 100%;
    -webkit-animation: slidertwo 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: slidertwo 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(3){
    left: 200%;
    -webkit-animation: sliderthree 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: sliderthree 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(4){
    left: 300%;
    -webkit-animation: sliderfour 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: sliderfour 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(5){
    left: 400%;
    -webkit-animation: sliderfive 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: sliderfive 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(6){
    left: 500%;
    -webkit-animation: slidersix 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: slidersix 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(7){
    left: 600%;
    -webkit-animation: sliderseven 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: sliderseven 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
.sliderwrap>div:nth-child(8){
    left: 700%;
    -webkit-animation: slidereight 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
    animation: slidereight 10s cubic-bezier(0.79, -0.2, 0.26, 1.24) infinite;
}
/*
@-webkit-keyframes sliderone{
    0%   {left: 0%;}
    25%  {left: -100%;}
    50%  {left: -200%;}
    75%  {left: -300%;}
}
@-webkit-keyframes slidertwo{
    0%   {left: 100%;}
    25%  {left: 0%;}
    50%  {left: -100%;}
    75%  {left: -200%;}
}
@-webkit-keyframes sliderthree{
    0%   {left: 200%;}
    25%  {left: 100%;}
    50%  {left: 0%;}
    75%  {left: -100%;}
}
@-webkit-keyframes sliderfour{
    0%   {left: 300%;}
    25%  {left: 200%;}
    50%  {left: 100%;}
    75%  {left: 0%;}
}

@keyframes sliderone{
    0%   {left: 0%;}
    25%  {left: -100%;}
    50%  {left: -200%;}
    75%  {left: -300%;}
}
@keyframes slidertwo{
    0%   {left: 100%;}
    25%  {left: 0%;}
    50%  {left: -100%;}
    75%  {left: -200%;}
}
@keyframes sliderthree{
    0%   {left: 200%;}
    25%  {left: 100%;}
    50%  {left: 0%;}
    75%  {left: -100%;}
}
@keyframes sliderfour{
    0%   {left: 300%;}
    25%  {left: 200%;}
    50%  {left: 100%;}
    75%  {left: 0%;}
}
*/
@-webkit-keyframes sliderone{
    0%   {left: 0%;}
    12.5%  {left: -100%;}
    25%  {left: -200%;}
    37.5%  {left: -300%;}
    50%  {left: -400%;}
    62.5%  {left: -500%;}
    75%  {left: -600%;}
    87.5%  {left: -700%;}
}
@-webkit-keyframes slidertwo
{
    0%   {left: 100%;}
    12.5%  {left: 0%;}
    25%  {left: -100%;}
    37.5%  {left: -200%;}
    50%  {left: -300%;}
    62.5%  {left: -400%;}
    75%  {left: -500%;}
    87.5%  {left: -600%;}
}
@-webkit-keyframes sliderthree
{
    0%   {left: 200%;}
    12.5%  {left: 100%;}
    25%  {left: 0%;}
    37.5%  {left: -100%;}
    50%  {left: -200%;}
    62.5%  {left: -300%;}
    75%  {left: -400%;}
    87.5%  {left: -500%;}
}
@-webkit-keyframes sliderfour{
    0%   {left: 300%;}
    12.5%  {left: 200%;}
    25%  {left: 100%;}
    37.5%  {left: 0%;}
    50%  {left: -100%;}
    62.5%  {left: -200%;}
    75%  {left: -300%;}
    87.5%  {left: -400%;}
}
@-webkit-keyframes sliderfive{
    0%   {left: 400%;}
    12.5%  {left: 300%;}
    25%  {left: 200%;}
    37.5%  {left: 100%;}
    50%  {left: 0%;}
    62.5%  {left: -100%;}
    75%  {left: -200%;}
    87.5%  {left: -300%;}
}
@-webkit-keyframes slidersix{
    0%   {left: 500%;}
    12.5%  {left: 400%;}
    25%  {left: 300%;}
    37.5%  {left: 200%;}
    50%  {left: 100%;}
    62.5%  {left: 0%;}
    75%  {left: -100%;}
    87.5%  {left: -200%;}
}
@-webkit-keyframes sliderseven{
    0%   {left: 600%;}
    12.5%  {left: 500%;}
    25%  {left: 400%;}
    37.5%  {left: 300%;}
    50%  {left: 200%;}
    62.5%  {left: 100%;}
    75%  {left: 0%;}
    87.5%  {left: -100%;}
}
@-webkit-keyframes slidereight{
    0%   {left: 700%;}
    12.5%  {left: 600%;}
    25%  {left: 500%;}
    37.5%  {left: 400%;}
    50%  {left: 300%;}
    62.5%  {left: 200%;}
    75%  {left: 100%;}
    87.5%  {left: 0%;}
}

@keyframes sliderone{
    0%   {left: 0%;}
    12.5%  {left: -100%;}
    25%  {left: -200%;}
    37.5%  {left: -300%;}
    50%  {left: -400%;}
    62.5%  {left: -500%;}
    75%  {left: -600%;}
    87.5%  {left: -700%;}
}
@keyframes slidertwo{
    0%   {left: 100%;}
    12.5%  {left: 0%;}
    25%  {left: -100%;}
    37.5%  {left: -200%;}
    50%  {left: -300%;}
    62.5%  {left: -400%;}
    75%  {left: -500%;}
    87.5%  {left: -600%;}
}
@keyframes sliderthree{
    0%   {left: 200%;}
    12.5%  {left: 100%;}
    25%  {left: 0%;}
    37.5%  {left: -100%;}
    50%  {left: -200%;}
    62.5%  {left: -300%;}
    75%  {left: -400%;}
    87.5%  {left: -500%;}
}
@keyframes sliderfour{
    0%   {left: 300%;}
    12.5%  {left: 200%;}
    25%  {left: 100%;}
    37.5%  {left: 0%;}
    50%  {left: -100%;}
    62.5%  {left: -200%;}
    75%  {left: -300%;}
    87.5%  {left: -400%;}
}
@keyframes sliderfive{
    0%   {left: 400%;}
    12.5%  {left: 300%;}
    25%  {left: 200%;}
    37.5%  {left: 100%;}
    50%  {left: 0%;}
    62.5%  {left: -100%;}
    75%  {left: -200%;}
    87.5%  {left: -300%;}
}
@keyframes slidersix{
    0%   {left: 500%;}
    12.5%  {left: 400%;}
    25%  {left: 300%;}
    37.5%  {left: 200%;}
    50%  {left: 100%;}
    62.5%  {left: 0%;}
    75%  {left: -100%;}
    87.5%  {left: -200%;}
}
@keyframes sliderseven{
    0%   {left: 600%;}
    12.5%  {left: 500%;}
    25%  {left: 400%;}
    37.5%  {left: 300%;}
    50%  {left: 200%;}
    62.5%  {left: 100%;}
    75%  {left: 0%;}
    87.5%  {left: -100%;}
}
@keyframes slidereight{
    0%   {left: 700%;}
    12.5%  {left: 600%;}
    25%  {left: 500%;}
    37.5%  {left: 400%;}
    50%  {left: 300%;}
    62.5%  {left: 200%;}
    75%  {left: 100%;}
    87.5%  {left: 0%;}
}