/*背景*/
body{
  background-repeat:repeat;
  background-image:url(../images/bg.jpg);
}
/*页面居中*/
.page_centre{ 
  width:900px; 
  margin:5px auto; 
} 




/*******************************头部*********************************/
#header{
  height:160px;
  background-image:url(../images/header.jpg);
}
/*头部的logo*/
#logo
{
  width:160px; 
  height:160px;
  background-image:url(../images/Projects/logo.png);
  position:absolute; 
  margin-left:45px;
}
/*头部的导航*/
#nav
{
  width:620px; 
  height:160px;
  position:absolute; 
  margin-left:250px;
}
#nav ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  padding-top:30px;
  padding-bottom:6px;
}
#nav ul li
{
  margin-right:5px;
  display:inline;
}
#nav ul li a:link,#nav ul li a:visited
{
  font-weight:bold;
  color:black;
  background-image:url(../images/Projects/nav1.png);
  text-align:center;
  padding:30px 40px 110px 40px;
  text-decoration:none;
  text-transform:uppercase;
  transition:background-image 0s;
  -webkit-transition: background-image 0s;	
}
#nav ul li a:hover,#nav ul li a:active
{
  color:green;
  background-image:url(../images/Projects/nav2.png);
}




/*******************************中部*******************************/
#main{ 
  position:relative; 
  background-repeat:repeat-y; 
  background-position:left; 
}
/*中部的左边*/
#left{ 
  width:190px; 
  height:1670px;
  background-image:url(../images/Projects/menu_bg.png);
  position:absolute; 
} 
.div_menu{
  width:160px;
  height:50px;
  text-align:left;
  margin:50px 0 0 30px;
  list-style-type:none;
  background-image:url(../images/Projects/menu.png);
  padding-top:70px;
}
.a_menu{
  width:120px;
  height:20px;
}
.a_menu:link{color:green;text-decoration:none;}
.a_menu:visited{color:green;text-decoration:none;}
.a_menu:hover {color:green;font-size:15px;text-decoration:none;}
.a_menu:active {color:green;text-decoration:none;}

/*中部的右边*/
#right{ 
  width:700px; 
  height:1670px;
  background-color:#e8f2f2;
  position:absolute;
  top:0;
  right:0;
  background-image:url(../images/Projects/right_bg.png);
} 
#single_project
{
  width:560px;
  height:418px;
  margin:45px 0 0 35px;
}
#start_point
{
  width:35px;
  height:35px;
  margin:0 0 0 5px;
  background-image:url(../images/Projects/start_point.png);
}
#date
{
  width:393px;
  height:35px;
  margin:-32px 0 0 50px;
  font-size:24px;
  padding:5px;
}
#zhou
{
  width:35px;
  height:370px;
  margin:-10px 0 0 5px;
  background-image:url(../images/Projects/zhou.png);
}
#title
{
  width:150px;
  height:370px;
  margin:-370px 0 0 50px;
  background-image:url(../images/Projects/title.png);
}
#image1
{
  width:87px;
  height:87px;
  margin:-370px 0 0 204px;
  background-image:url(../images/Projects/image1.jpg);
}
#image2
{
  width:87px;
  height:87px;
  margin:2px 0 0 204px;
  background-image:url(../images/Projects/image2.jpg);
}
#intro
{
  width:253px;
  height:176px;
  margin:-179px 0 0 293px;

}
#image3
{
  width:341px;
  height:192px;
  margin:2px 0 0 204px;
  background-image:url(../images/Projects/image3.jpg);
}




/*******************************底部*******************************/
#foot{ 
  color:white;
  background-color:#678293; 
  margin-top:1750px;
  text-align:center;
} 
