/*µÚÒ»µ¼º½À¸*/
body{
  background-image:url(../images/pages_bg.png);
}
#nav1
{
  width:112px;
  height:675px;
  /*background-image:url(../images/blueNav.png);*/
  position:fixed;
}
#nav1 ul
{
  margin:20% 0 0 -15px;
  position:absolute;
  list-style:none;
}
#nav1 ul li
{
  padding-bottom:11px;
  text-align:right;
}

#nav1 ul li a
{
  outline:none;
  letter-spacing:3px;
}

#nav1 ul li a:link,#nav1 ul li a:visited
{
  color:black;
  font-family:Consolas;
  font-size:16px;
  padding:3px 11px 4px 11px;
}
#nav1 ul li a:hover
{
  border:1px solid #563f2e;
  text-decoration:none;
}
#nav1 ul li a:active
{
  color:white;
  background-color:#563f2e;
}
#nav1 ul li a.selected
{
  color:white;
  border:1px solid #563f2e;
  text-decoration:none;   
  background-color:#563f2e;
}